article.details-table
  h2.details-table__title Реквизиты
  .table-container

    .boxes
      .box.box1 Полное наименование юридического лица с указанием ОПФ
      .box.box2 Общество с ограниченной ответственностью "Тест"
    .boxes
      .box.box1 Сокращенное наименование юридического лица
      .box.box2 ООО "Тест"
    .boxes
      .box.box1 Юридический адрес
      .box.box2 196247, Санкт-Петербург, ул. Рубинштейна, 24
