extends common/layout

block content
  main.main
    .main-container
      .container
        section.bread-crumbs
          a.deatails-link Реквизиты
  
      section.details
        .details-container
          include includes/details
          include includes/form
